<div class='menu-principal' style="text-align: center;">

  <img style="width:50%; height: 20%;" src="./assets/general.png"><br>
  <span style="color:white; font-size: 2rem;"><b>HORARIOS</b></span>

  <br><a routerLink="/inicio"><b>Inicio</b></a>

  <br><span style="color:white; font-size: 1.5rem;"><b>Horarios de ...</b></span>
  <!--<span style="color:white; font-size: 1.5rem;">de ...</span>-->

  <!--<br><a routerLink="/rutina" (click)="verSemana()"><b>Grupo</b></a>-->
  <br><a routerLink="/grupo" (click)="verSemana()"><b>Grupo</b></a>
  <span style="color:white; font-size: 1.5rem;">{{grupo}}</span>
  <br><a routerLink="/profesor" style="color:red; font-size: 1.2rem;">(Profesor)</a>
  <span style="color:white; font-size: 1.5rem;">{{profesor}}</span>
  <br><a routerLink="/aula" style="color:red; font-size: 1.2rem;">(Aula)</a>
  <span style="color:white; font-size: 1.5rem;">{{aula}}</span>
  <br>
  <br><br><a routerLink="/grupos"><b>Grupos</b></a>

</div>
